/*---IMPORTS---*/
@import url(./fonts.css);
@import url(./variables.css);


/*--- UNIVERSAL---*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    margin: 0 auto;
    font-size: 16px;
    /*     background-color: var(--menu-bg);
    background: linear-gradient(#ffffff 0%, #f8d4f2 75%);
    background-size: cover;
    min-height: 100dvh; */
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    color: #121212;
}

a {
    color: var(--url-default-color);
}

body {
    background: var(--bg-color);
    margin: 0 auto;
    padding: 0 1 rem;
    max-width: 1200px;
    display: grid;
    justify-self: center;
    gap: 1rem;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}



.title {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(1.6rem, 2.5vw, 3rem);
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: clamp(1.2rem, 2.5vw, 2rem);

    a {
        text-decoration: none;
    }

    a:hover,
    a:active {
        color: #ee3842
    }
}

.home {
    display: grid;
    align-items: center;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);

}

.home-img img {
    background-size: contain;
    background-position: center;
    width: 110%;


}

.home-img {

    margin-left: -8rem;
    overflow-x: hidden;
}

.home-content {

    padding: 1rem;
    z-index: 1;

    h1 {
        font-size: clamp(3rem, 3vw, 5.5rem);

    }

    h3 {
        font-size: clamp(1.8rem, 2vw, 3.5rem);
        color: var(--header1);
    }

    p {
        font-size: clamp(1rem, 1.5vw, 2rem);
    }
}