/*---IMPORTS---*/
@import url(./fonts.css);
@import url(./variables.css);


/*--- UNIVERSAL---*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    margin: 0 auto;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    color: var(--default-color);
}

a {
    color: var(--default-color);
}

body {
    background: var(--bg-color);
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
    display: grid;
    justify-self: center;
    gap: 1rem;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 100;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}



.title {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(1.6rem, 2.5vw, 3rem);
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: clamp(1.2rem, 2.5vw, 2rem);

    a {
        text-decoration: none;
    }

    a:hover,
    a:active {
        color: var(--accent1);
    }

    .strike {
        text-decoration: line-through var(--accent1);
    }

    .strike:hover {
        text-decoration: line-through var(--default-color);
    }
}

.home {
    display: grid;
    align-items: center;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);

}

.home-img img {
    background-size: contain;
    background-position: center;
    width: 110%;
}

.home-img {
    display: grid;
    margin-left: -8rem;
    background: url(../assets/images/rostad_profile.jpg) no-repeat;
    background-position: center;
    background-size: contain;
    height: 40vh;
    opacity: 1;
    transition: 1s;
}

.home-img:hover {
    opacity: .3;
    filter: blur(.2rem);



}

.home-content {

    z-index: 1;

    h1 {
        font-size: clamp(3rem, 3vw, 5.5rem);

    }

    h3 {
        font-size: clamp(1.8rem, 2vw, 3.5rem);
        color: var(--accent1);
    }

    p {
        font-size: clamp(1rem, 1.5vw, 2rem);


    }
}

.some {
    font-size: clamp(1.4rem, 2vw, 2.5rem);
    bottom: 4rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}

.some a {
    position: relative;
    display: inline-flex;
    background: transparent;
    border: var(--accent1) 2px solid;
    border-radius: 50%;
    text-decoration: none;
    color: var(--accent1);
    padding: .4rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.some a:hover {
    color: var(--bg-color);
}

.some a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--accent1);
    z-index: -1;
    transition: .5s;
}

.some a:hover::before {
    width: 100%;
}